<!doctype html>
<html>
<head>
    <title>Brohub - Github for Bros</title>
</head>
<body>
    <header>
        <hgroup>
            <h1>Brohub</h1>
            <h2>Github for bro's</h2>
        </hgroup>
    </header>
    @RenderBody()
</body>
</html>